<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @story.titulo %>
</p>

<p>
  <strong>Narracion:</strong>
  <%= @story.narracion %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
